NODE_ENV=development
PORT=3000
API_VERSION=v1
# Docker Compose = mongodb://mongo:27017/api_db
# local = mongodb://localhost:27017/api_db
MONGODB_URI=mongodb://localhost:27017/api_db
MONGODB_TEST_URI=mongodb://localhost:27017/api_test_db
JWT_SECRET=khjnWVNCdFVJcaqckqjlcccvncqckVVqVSQZZVSSV
JWT_EXPIRES_IN=7d
MONGO_ROOT_USER=admin
MONGO_ROOT_PASSWORD=password123
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
LOG_LEVEL=debug